@import 'bourbon';
@import 'grid-settings';
@import 'neat';

@import 'challenge_content';
@import 'notice_area';
@import 'challenge_selection';

body {
  background-color: $darkpurp;
}

.app-container {
  @include span-columns(12);
  background-color: $darkpurp;
  padding: 2rem 0;
}
