@import 'bourbon';
@import 'grid-settings';
@import 'neat';

@import 'challenge_content';
@import 'notice_area';
@import 'challenge_selection';

body {
  background-color: $darkpurp;
}

.app-container {
  @include span-columns(12);
  background-color: $darkpurp;
  padding: 0.5rem 0;
}

.app-title-container {
  @include span-columns(12);
  margin-left: 1rem;
  user-select: none;
}

.app-main-title {
  font-family: 'Gloria Hallelujah', cursive;
  color: #fff;
  font-size: 1.5rem;
}

.app-primary-title {
  cursor: pointer;
}

.app-logo {
  cursor: pointer;
  margin-right: 0.5rem;
}

.app-sub-title {
  cursor: pointer;
  font-family: 'Exo', sans-serif;
  color: #fff;
  font-size: 0.8rem;
}
