.challenge-selection-container {
  @include outer-container;
  text-align: center;
}

.challenge-selection-list {
  @include span-columns(12);
  @include shift(1)
}

.challenge-card-container {
  @include span-columns(3);
  border: 1px solid #000;
  cursor: pointer;
  font-family: 'Overpass',sans-serif;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  user-select: none;
}

.challenge-selection-title {
  @include row();
  color: #fff;
  font-family: 'Overpass',sans-serif;
  font-size: 1.5rem;
}

.challenge-card-title {
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}

.challenge-card-icon {
  margin-top: 0.6rem;
  font-size: 4rem;
}

.difficulty-EASY {
  background-color: $green;
}

.difficulty-MEDIUM {
  background-color: $yellow;
}
.difficulty-HARD {
  background-color: $red;
}
