.challenge-content-container {
  @include span-columns(12);
}

.challenge-content {
  background-color: red;
  font-size: 6rem;
  margin-top: 1rem;
  min-height: 6rem;
  text-align: center;
}

.entered-text-container {
  @include span-columns(12);
  min-height: 6rem;
  background-color: yellow;
  font-size: 4rem;
  text-align: center;
}

.challenge-input-container {
  @include span-columns(12);
  margin-top: 2rem;
  text-align: center;
  input {
    border: 0;
    border-bottom: 1px solid black;
  }
}
input:focus {
  outline: none;
}

.challenge-content-feedback {
  min-height: 6rem;
}

.challenge-options-container {
  user-select: none;
}

.challenge-success-container {
  text-align: center;
}

.next-challenge-container {
  text-align: center;
}

.no-challenges-container {
  text-align: center;
}

.keyflash-container {
  @include span-columns(12);
  margin-top: 2rem;
  min-height: 3rem;
  text-align: center;
}

.feedback-container {
  text-align: center;
  font-size: 1.5rem;
}

.challenge-options-item {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 1rem;
}

.entry-success {
  background-color: lime;
}

.entry-not-success {
  background-color: red;
}

.challenge-in-progress {
}

.display-keyboard-container {
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.keyboard-image-container {
  margin-top: 1rem;
  min-height: 5rem;
  img {
    width: 35%;
  }
}

.image-credit {
  font-size: 0.4rem;
}
