.challenge-content-container {
  @include span-columns(12);
  font-family: 'Overpass',sans-serif;
}

.challenge-content {
  color: #fff;
  text-shadow: 2px 2px $lightblue;
  font-size: 6rem;
  margin-top: 1rem;
  min-height: 6rem;
  text-align: center;
}

.challenge-translation {
  font-family: 'Exo', sans-serif;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.entered-text-container {
  @include span-columns(12);
  color: #fff;
  font-family: 'Exo', sans-serif;
  background-color: $medpurp;
  font-size: 4rem;
  min-height: 6rem;
  margin: 1rem 0;
  text-align: center;
}

.challenge-input-container {
  @include span-columns(12);
  margin-top: 2rem;
  text-align: center;
  input {
    background-color: $lightblue;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 4rem;
    text-align: center;
  }
}
input:focus {
  outline: none;
}

.challenge-content-feedback {
  min-height: 3rem;
}

.challenge-options-container {
  color: #fff;
  font-family: 'Exo', sans-serif;
  text-shadow: 1px 1px $lightblue;
  user-select: none;
  li {
    font-size: 2rem;
  }
}

.challenge-success-container {
  @include span-columns(12);
  background-color: $lightblue;
  border: solid 1px $darkpurp;
  text-align: center;
  padding: 1rem 0;
}

.next-challenge-container {
  @include span-columns(12);
  text-align: center;
  i {
    margin-left: 0.5rem;
  }
}

.no-challenges-container {
  text-align: center;
}

.keyflash-container {
  @include span-columns(12);
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 1.3rem;
  margin-top: 2rem;
  min-height: 3rem;
  text-align: center;
}

.feedback-container {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.challenge-options-item {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 1rem;
}

.entry-success {
  background-color: #97EB56;
}

.entry-not-success {
  background-color: $lightpurp;
}

.challenge-in-progress {
  color: #fff;
}

.display-keyboard-container {
  @include span-columns(12);
  color: #fff;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.keyboard-image-container {
  margin-top: 1rem;
  min-height: 5rem;
  img {
    width: 35%;
  }
}

.image-credit {
  font-size: 0.4rem;
}

.key-note-container {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.challenge-category-name {
  @include span-columns(12);
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Overpass',sans-serif;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 1px 1px $lightblue;
}
