.success-challenge-time-container {
  @include row();
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.challenge-time-card-container {
  @include span_columns(1);

  border: 1px solid #000;
  margin-top: 0.5rem;
}

.challenge-time-icon {
  font-size: 1rem;
}

.challenge-time-card-title {
  font-size: 1rem;
}

.challenge-good {
  background-color: $green;
}

.challenge-ok {
  background-color: $yellow;
}

.challenge-bad {
  background-color: $red;
}
